<article class="planner-component">
  <section class="planner-component__section">
    <iframe
      class="planner-component__section__iframe"
      src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=America%2FLa_Paz&mode=AGENDA&showTz=0&showTabs=0&showCalendars=0&src=NGZiNTgwOWZlYjdkZWM5YmE1YzYwYWEwYjEyZDZjOTU5ZGVjZDNmYTIyODYwODA4YTlhY2RhMWRhZjgyMzY1NEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23D81B60"
      style="border-width:0"
      width="800"
      height="600"
      frameborder="0"
      scrolling="no"
    ></iframe>
  </section>
</article>
